<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cookpiration"
        tools:targetApi="34">
        <activity
            android:name=".Tampilan_home.Home"
            android:exported="false" />
        <activity
            android:name=".Register_and_Login.Intro5"
            android:exported="false" />
        <activity
            android:name=".Register_and_Login.PengaturanAkun"
            android:exported="false" />
        <activity
            android:name=".Landingpage.Intro4"
            android:exported="false" />
        <activity
            android:name=".Landingpage.Intro3"
            android:exported="false" />
        <activity
            android:name=".Landingpage.Intro2"
            android:exported="false" />
        <activity
            android:name=".Landingpage.Intro1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Register_and_Login.PasswordBaru"
            android:exported="false" />
        <activity
            android:name=".Register_and_Login.KodeOTP"
            android:exported="false" />
        <activity
            android:name=".Register_and_Login.GantiPassword"
            android:exported="false" />
        <activity
            android:name=".Register_and_Login.LoginForm"
            android:exported="false" />
        <activity
            android:name=".Register_and_Login.RegisterForm"
            android:exported="false" />
        <activity
            android:name=".Register_and_Login.RegisterUtama"
            android:exported="false" />
        <activity
            android:name=".Landingpage.LandingLogo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>